DATABASE_URL="postgresql://finanzas:finanzas@localhost:5433/finanzas?schema=public"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
API_URL="http://localhost:3000"
BCCR_API_URL="https://apim.bccr.fi.cr"
BCCR_TOKEN=""
